.products {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;

    .productsMain {
        width: 90%;
        min-height: 80vh;
        margin-top: 100px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        .card {
            width: 150px;
            min-height: 150px;
            padding-top: 10px;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            border: 1px solid black;
            border-radius: 10px;

            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
}